dist: trusty
sudo: required
language: r
warnings_are_errors: false
cache: packages

# based on: https://github.com/wesm/feather/issues/154
matrix:
  include:
    - os: linux
      compiler: gcc-4.8
      addons:
        apt:
          sources: 
          - 'ubuntu-toolchain-r-test'
          packages: 
          - 'g++-4.8'
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX1X=g++-4.8
    - os: linux
      compiler: gcc-5
      addons:
       apt:
        sources: 
        - 'ubuntu-toolchain-r-test'
        packages: 
        - 'g++-5'
      before_install: |
       mkdir ~/.R
       cat <<EOF > ~/.R/Makevars
       CXX1X=g++-5
    - os: linux
      compiler: gcc-6
      addons:
        apt:
          sources: 
           - 'ubuntu-toolchain-r-test'
          packages: 
           - 'g++-6'
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX1X=g++-6
    - os: linux
      compiler: clang-3.7
      addons:
        apt:
          sources: 
            - 'ubuntu-toolchain-r-test'
            - 'llvm-toolchain-precise-3.7'
          packages: 
            - 'clang-3.7'
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX1X=clang++-3.7
    - os: osx
      compiler: clang

after_success:
  - Rscript -e 'covr::codecov()'
