dist: trusty
sudo: required
language: r
warnings_are_errors: false
cache: packages
r_build_args: '--no-build-vignettes'
r_check_args: '--as-cran --ignore-vignettes'
bioc_required: true
bioc_use_devel: true

matrix:
  fast_finish: true
  allow_failures:
    - os: osx
    - os: linux
      r: devel
  include:
    - os: linux
      r: release
      compiler: gcc-6
      addons:
        apt:
          sources:
           - 'ubuntu-toolchain-r-test'
          packages:
           - 'g++-6'
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX1X=g++-6
        CXX1XSTD=-std=c++11
    - os: linux
      r: devel
      compiler: gcc-6
      addons:
        apt:
          sources:
           - 'ubuntu-toolchain-r-test'
          packages:
           - 'g++-6'
      before_install: |
        mkdir ~/.R
        cat <<EOF > ~/.R/Makevars
        CXX1X=g++-6
        CXX1XSTD=-std=c++11
    - os: osx
      r: release
      compiler: clang

after_success:
  - Rscript -e 'covr::codecov()'

